
.herosection{
   min-height: 90vh;
   display: flex;
   background-color: rgb(245, 247, 250);
   
    .slide1{
        width: 60%;
        padding-left: 9%;
        
        padding-top: 12%;
        
        h1{
           
            font-size: 70px;
            letter-spacing: 1px;
            word-spacing: 3px;
            font-weight: 600;
            font-family: $font-family1;
            color:$second-color;

            span{
                
                 color:$theme-color;
            }
        }


        p{
            color:$second-color;
            margin:15px 0px;
        
            word-spacing: 2px;
        }

        
    }

}


.button{
    font-size: 20px;
    font-family: $font-family1;
    padding: 15px 35px;
    margin-top: 15px;
    background-color: $theme-color;
    border: 2px solid transparent;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background-color: black;
        
    }


}
.slide2{
    display: flex;
    justify-content: center;
    align-items: center;
    img{


        width: 500px;

        margin: 20px;
        
        height: fill;
        
    }
}

@media(max-width:1020px){
    .herosection{
        flex-direction: column;
    }
    .herosection .slide1{
        width: 100%;
        padding-right: 5%;
    }

    .slide2{
        
        width: 100%;
        justify-content: center;
        padding: 20px;
    } img{
        
        
        width: 90%;
        margin: 20px;
    }
}




.clients{
    min-height: 30vh;
    
    padding:10px;
 

    .images{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
       
        

        img{
            width: 50px;
            height: 50px;
             margin:25px 4%;

        }
    }
}

header{
    display: grid;
    place-items: center;
    margin: 20px;

    h2{
        font-size: 40px;
        letter-spacing: 1px;
        color: $first-color;
        margin-bottom: 10px;
        font-family: $font-family1;
    }
    p{
        color:$second-color;
        letter-spacing: 1px;
        word-spacing: 1px;
    }}


    .community{
        min-height: 50vh;
        text-align: center;
    }

.item-card{
    display: flex;
    justify-content: center;
    margin: 15px;
    flex-wrap: wrap;
}
    .card{
    
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:15px;
        text-align: center;
        box-shadow: 0px 0px 5px #cac1c1;
        margin: 10px 5%;
        border-radius: 5px;

        
        .icon{
            display: grid;
            place-items: center;
            width: 70px;
            height: 70px;
            padding: 10px;
            background-color: rgb(211, 234, 213);
            border-radius: 20px 0px 20px 0px;
            margin: 15px;
        }
        img{
            width: 90%;
            
        }

        h3{
            font-size: 30px;
            color: $first-color;
            letter-spacing: 1px;
            word-spacing: 2px;
            margin: 5px;
            font-family: $font-family1;
        }
        p{
            color:$second-color;
            margin: 5px;
            letter-spacing: 0.5px;
            word-spacing: 2px;
            line-height: 25px;

        }

        &:hover{
            background-color: $hover-color;

        }
    }



    .slides-container{
        min-height: 50vh;
        padding:30px;
        display: flex;
        width: 100%;
        justify-content:space-between;
        align-items: center;
        

        .slides{
            min-width: 500px;
            max-width: 100%;
            
            
            img{
                max-width: 650px;
                width: 100%;
                margin: 15px;
            }
        }

        h2{
            font-family: $font-family1;
            font-size: 35px;
            color:$first-color;
            letter-spacing: 1px;
            word-spacing: 2px;
            margin:15px 2px;
        }
        p{
          color:$second-color;
          letter-spacing: 1px;
          word-spacing: 2px;
          line-height: 25px;
        }
        .slides2{
           padding: 5%;
           
        }
    }

    @media(max-width:1029px){
        .slides-container{
            flex-wrap: wrap;
            .slides{
                min-width: 100%;
               width: 100%;
            }
            .slides2{
                padding: 1%;
                width: 100%;
                
             }
        }


    }